@font-face {
   font-family: 'Roxborough CF';
   font-display: swap;
   src: url('file:///C:/Users/nikid/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-06-01_153853/fonts/Roxborough%20CF/font.ttf');
}
